{% extends 'crud/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="container bg-light shadow-mb p-5 form-layout">
        <h3>Create record</h3>
        <h6>Add the required fields to create record</h6>
        <br>
        <hr>
        <form method="POST" autocomplete="off">

            {% csrf_token %}
            {{form.first_name|as_crispy_field}}

            <br>
            {{form.last_name|as_crispy_field}}
            <br>
            {{form.email|as_crispy_field}}
            <br>
            {{form.phone|as_crispy_field}}
            <br>
            {{form.city|as_crispy_field}}
            <br>
            {{form.state|as_crispy_field}}

            <br>
            {{form.country|as_crispy_field}}
            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2">create record &nbsp; <i class="fa fa-check" aria-hidden="true"></i></button>

        </form>

    </div>
</body>
{% endblock %}